@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*Header start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navbar{
    position: sticky;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #00c0ff;
}
.container{
    width: 77%;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}
.navbar_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_logo{
    margin-right: 16px;
}
.navbar_items{
    display: flex;
}
.nav_item{
    padding: 36px 23px;
}
.nav_link{
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-size: 15px;
}
.nav_link:hover{
    color: #fc0;
    transition: all 0.5s;
}
.nav_dropdown1{
    padding: 36px 23px;
}
.nav_dropdown2{
    padding: 36px 23px;
}
.nav_dropdown_link1{
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-size: 15px;
}
.nav_dropdown_link1:hover{
    color: #fc0;
    transition: all 0.5s;
}
.nav_dropdown_link2{
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-size: 15px;
}
.nav_dropdown_link2:hover{
    color: #fc0;
    transition: all 0.5s;
}
.nav_dropdown_link1::after{
    content: "▼";
}
.nav_dropdown_link2::after{
    content: "▼";
}
.dropdown_menu1{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fc0;
    width: 160px;
    height: 90px;
    border-radius: 5px;
}
.nav_dropdown1:hover .dropdown_menu1{
    display: block;
}
.dropdown_menu2{
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fc0;
    width: 160px;
    height: 45px;
    border-radius: 5px;
}
.nav_dropdown2:hover .dropdown_menu2{
    display: block;
}
.dropdown_item{
    font-size: 16px;
    width: 100%;
    padding: 12px 20px !important;
    color: white;
    display: inline-block;
    font-weight: 400;
    font-family: 'Roboto' , sans-serif;
}
.navbar_menu_button a{
    padding: 13px 40px;
    background-color: #ffcc00;
    color: black;
    border: 2px solid transparent;
    border-radius: 50px;
    font-size: 15px;
    font-family: 'Poppins' , sans-serif ;
    font-weight: 500;
}
.navbar_menu_button a:hover{
    background: transparent;
    border: 2px solid #fc0;
    color: #fc0;
    transition: all 0.5s;
}
/* Header end */
/* Section start */
.main{
    position: absolute;
    background-image: url(../images/image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1050px;
    z-index: -1;
}
.container{
    width: 77%;
    height: 50%;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    position: relative;
}
.main_part{
    position: relative;
    width: 60%;
    height: 100%;
    bottom: 0;
    left: 0;
}
.main_part_text{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.main_part_text h5{
    font-family: 'Kaushan Script' , cursive;
    color: white;
    font-size: 36px;
    margin: 0 0 34px;
}
.main_part_text h1{
    font-family: 'Poppins' , sans-serif;
    color: white;
    font-size: 66px;
    margin: 0 0 8px;
    background-image: url(../images/h1background.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
/* Section end */